<h2>追加情報登録</h2>

<%= form_with model: @user, url: user_registration_path do |f| %>

  <div class="field">
    <%= f.label :"ニックネーム" %><br />
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :"生年月日" %><br />
    <%= f.text_field :birthday %>
  </div>

  <div class="field">
    <%= f.label :"性別" %><br />
    <%= f.select :sex, User.sexes.keys, {prompt: '選択してください'} %>
  </div>

  <div class="field">
    <%= f.label :"パーソナルカラー" %><br />
    <%= f.select :personal_color, User.personal_colors.keys, {prompt: '選択してください'} %>
  </div>

  <div class="field">
    <%= f.label :"肌タイプ" %><br />
    <%= f.select :skin_quality, User.skin_qualities.keys, {prompt: '選択してください'} %>
  </div>

  <div class="field">
    <%= f.label :"ひとこと" %><br />
    <%= f.text_field :introduction %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>