<div class="container">
  <h3 class="mb-3 mt-3 fw-normal text-center">NEW User -新規登録-</h1>

<div class="row justify-content-center">
<%= form_with model: @user, url: user_registration_path do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<table class="table-sm table-borderless">
  <tr>
    <td class="col-lg-4"><%= f.label :"ユーザー名" %></td>
    <th class="field col-lg-6"><%= f.text_field :nickname %></th>
  </tr>
  <tr>
    <td><%= f.label :"生年月日(西暦込みの8桁数値)" %></td>
    <th class="field"><%= f.text_field :birthday %></th>
  </tr>
  <tr>
    <td><%= f.label :"性別" %></td>
    <th class="field"><%= f.select :sex, User.sexes.keys, {prompt: '選択してください'} %></th>
  </tr>
  <tr>
    <td><%= f.label :"パーソナルカラー" %></td>
    <th class="field"><%= f.select :personal_color, User.personal_colors_i18n.invert, {prompt: '選択してください'} %></th>
  </tr>
  <tr>
    <td><%= f.label :"肌タイプ" %></td>
    <th class="field"><%= f.select :skin_quality, User.skin_qualities_i18n.invert, {prompt: '選択してください'} %></th>
  </tr>
  <tr>
    <td><%= f.label :"ひとこと" %></td>
    <th class="field"><%= f.text_field :introduction %></th>
  </tr>
  <tr>
    <td><%= f.label :"メールアドレス" %></td>
    <th class="field"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
  </tr>
  <tr>
    <td>
      <%= f.label :"パスワード" %>
      <% if @minimum_password_length %>
      <em>(半角英数字<%= @minimum_password_length %>字以上)</em>
      <% end %>
    </td>
    <th class="field">
      <%= f.password_field :password, autocomplete: "new-password" %>
    </th>
  </tr>
  <tr>
    <td><%= f.label :"パスワード確認" %></td>
    <th class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </th>
  </tr>
</table>

  <div class="actions text-center mt-3 mb-3"><%= f.submit "ユーザー登録", class:"btn-sm btn-info" %></div>
<% end %>

</div>

<div class="text-center"><%= render "devise/shared/links" %></div>

</div>