<div class="container">
  <h3 class="mb-3 mt-5 fw-normal text-center">MyPage -マイページ-</h1>
  <div class="row mb-5">

    <div class="col-lg-6">
      <h4 class="text-dark" style="padding: 1rem 2rem; border: 2px dotted #000;">* Profile *</h4>
      <div><%= image_tag @user.get_profile_image(150,150) %></div>

      <table class="table-borderless mb-3">
        <tr>
          <th class="col-lg-2">ユーザー名</th>
          <th class="col-lg-4"><%= @user.nickname %></th>
        </tr>
        <tr>
          <th></th>
          <th><%= @user.sex %> / <%= @user.age %>歳</th>
        </tr>
        <tr>
          <th>パーソナルカラー</th>
          <th><%= @user.personal_color_i18n %></th>
        </tr>
        <tr>
          <th>肌タイプ</th>
          <th><%= @user.skin_quality_i18n %></th>
        </tr>
        <tr>
          <th>ひとこと</th>
          <th><%= @user.introduction %></th>
        </tr>
      </table>
      <p>
        <%= link_to "ユーザー情報編集", user_edit_information_path, class:"btn-sm btn-info" %>
        <%= link_to "投稿履歴を確認", user_path(@user.id), class:"btn-sm btn-success" %>
      </p>
      <p><%= link_to "退会", confirm_unsubscribe_path, class:"btn-sm btn-dark" %></p>
    </div>

  <div class="col-lg-6">
    <h4 class="text-dark" style="padding: 1rem 2rem; border: 2px dotted #000;">♡ Favorite ♡ -Like!した投稿-</h4>

    <% if @like_list.present? %>
      <% @like_list.each do |post| %>
      <div class="border mt-3">
        <% post.post_reviews.each do |post_review| %>
          <%= image_tag post_review.get_image, size: "50x50" %>
          <%= post_review.item_name %><br>
        <% end %>
      </div>
      <% end %>
    <% else %>
     <p class="text-center mt-5">まだ　♡ like ボタンを活用していません。<br>
     気になる投稿に　♡like してみましょう♩</p>
    <% end %>
  </div>
</div>