<h2><%= @user.nickname %> Reccomend item-<%= @user.nickname %>のベスコス履歴-</h2>

<% @posts.each do |post| %>
<% post.post_reviews.each do |post_review| %>

<table class="table table-borderless">
  <tr>
    <td>
      <%= post.created_at.strftime('%Y/%m/%d') %>
    </td>
    <th><%= image_tag post_review.get_image, size: "100x100" %></th>
    <th>
      <p><%= post_review.item_name %></p>
      <%= post_review.item_genre_i18n %> | <%= post_review.item_brand %>
    </th>
    <td>
      <span  id="review_star-<%= post_review.id %>"></span>
      <p><%= post_review.star %>点</p>
    </td>
      <script>
      $('#review_star-<%= post_review.id %>').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        score: <%= post_review.star %>,
        half: true,
      });
      </script>

    <td><%= post_review.good_point %></td>
  </tr>
</table>

<% end %>
<% end %>