<div class="container">
  <h3 class="mb-3 mt-3 fw-normal text-center">Log in -ログイン-</h1>

	<div class="row justify-content-center text-center">
    <div class="border col-lg-6">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field m-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class:"form-control" %>
        </div>
        <div class="field m-3">
          <%= f.password_field :password, autocomplete: "current-password", :placeholder => "password", class:"form-control" %>
        </div>
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
        <div class="actions">
          <%= f.submit "  Log in  ", class:"btn btn-info mb-3" %>
        </div>
        <% end %>

        <div class="text-center mb-3"><%= render "devise/shared/links" %></div>
    </div>
  </div>
</div>

<br>





