<div class="container">
<h3 class="mb-4 fw-normal text-center">Results -検索結果-</h3>

<table class="table table-hover table-inverse">
  <div class="row">
  <% if @range == "PostReview" %>
  <tbody>
      <% @post_reviews.each do |post_review| %>
      <tr>
        <td class="col-lg-2"><%= image_tag post_review.get_image, size: "100x100" %></td>
        <td class="col-lg-3 font-weight-bold">
          <%= link_to post_review.item_name, post_path(post_review.post.id) %><br>
          <p class="font-weight-normal"><%= post_review.item_genre_i18n %> / <%= post_review.item_brand %></p>
        </td>
        <td class="col-lg-2" id="review_star-<%= post_review.id %>">
          <script>
          $('#review_star-<%= post_review.id %>').raty({
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            score: <%= post_review.star %>,
            half: true,
          });
          </script>
          <p class="small"><%= post_review.star %>点</p>
        </td>
        <td class="col-lg-5"><%= post_review.good_point %></td>
      </tr>
      <% end %>
    </tbody>
  </div>
  <% else %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image(100,100) %></td>
          <th>
            <%= link_to user.nickname, user_path(user.id) %></td>
            <p class="font-weight-normal"><%= user.sex %> / <%= user.age %>歳</p>
          </th>
          <td><%= user.personal_color_i18n %></td>
          <td><%= user.skin_quality_i18n %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
</div>