<div class="container">
  <h3 class="mb-3 fw-normal text-center">Edit Post -投稿編集-</h3>

  <% if @post.errors.any? %>
  <div class="text-center bg-warning">
  <%= @post.errors.count %>件のエラーが発生しました
  <ul class="list-unstyled">
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  </div>
  <% end %>

  <div class="row">
    <%= form_with model: @post, url: post_path(@post.id), local:true do |f| %>
    <%= f.fields_for :post_reviews do |fs| %>
    <div class="d-lg-inline-flex border mr-2 mb-3">
    <table class="table-sm">
      <tbody>
        <tr>
          <td>image -画像-</td>
          <td><%= fs.label :image, "image", class:"btn btn-secondary" %><%= fs.file_field :image, accept: "image/*", class:"d-none" %></td>
        </tr>
        <tr>
          <td>name -商品名-</td>
          <td><%= fs.text_field :item_name, class:"form_control" %></td>
        </tr>
        <tr>
          <td>genre -カテゴリ-</td>
          <td><%= fs.select :item_genre, PostReview.item_genres_i18n.invert, {prompt: '選択してください'} , class:"form_control" %></td>
        </tr>
        <tr>
          <td>brand -ブランド-</td>
          <td><%= fs.text_field :item_brand, class:"form_control" %></td>
        </tr>
        <tr>
          <td>
            star -評価-<br><p class="small">0.5刻み/満点5点</p>
            <td><%= fs.select :star, [0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5], class: "form_control" %></td>
          </td>
        </tr>
        <tr>
          <td>review -コメント-</td>
          <td><%= fs.text_field :good_point, class:"form_control" %></td>
        </tr>
      </tbody>
    </table>
    </div>
    <% end %>

    <div class="actions text-center mt-3 mb-3"><%= f.submit " 編　集 ", name: nil, class: "btn-lg btn-info" %></div>
  <% end %>

</div>
</div>