<table class="table-sm">
  <thead>
    <tr>
      <th>image</th>
      <th>name -商品名-</th>
      <th>genre -カテゴリ--</th>
      <th>brand -ブランド</th>
      <th>star -評価-<br>0.5刻み/満点5点</th>
      <th>review -コメント-</th>
    </tr>
  </thead>


<%= form_with model: @post, url: posts_path, local:true do |f| %>

  <%= f.fields_for :post_reviews do |fs| %>
  <tbody>
    <tr>
      <td><%= f.file_field :image, accept: "image/*", class: "form_control" %></td>
      <td><%= fs.text_field :item_name, class: "form_control" %></td>
      <td><%= fs.select :item_genre, PostReview.item_genres.keys, {prompt: '選択してください'} , class: "form_control" %></td>
      <td><%= fs.text_field :item_brand, class: "form_control" %></td>
      <td><%= fs.text_field :star, id: :review_star, class: "form_control" %></td>
      <td><%= fs.text_field :good_point, class: "form_control" %></td>
    </tr>
  </tbody>
  <% end %>
</table>

  <div class="actions">
　  <%= f.submit "投稿", name: nil, class: "btn btn-dark" %>
　</div>
<% end %>


